<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.monolith">

    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application>
        <activity android:name=".api.android.MonolithActivity"
            android:theme="@android:style/Theme.NoTitleBar"/>
    </application>

</manifest>
